<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Guasapp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Guasapp</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-input placeholder="Emisor" [(ngModel)]="from"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Receptor" [(ngModel)]="to"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Mensaje" [(ngModel)]="message"></ion-input>
    <ion-button (click)="enviar()">Enviar</ion-button>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let mensaje of firebaseService.mensajes">
      {{mensaje}}
    </ion-item>
  </ion-list>
</ion-content>