.mensaje {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  margin: 5px 5px 10px 5px;
  color: rgb(255, 254, 254);
  width: 75%;
  box-shadow: 1px 1px 1px rgb(112, 112, 112);
}

.izquierda {
  float: left;
}

.derecha {
  float: right;
}

.emisor {
  color: gray;
  font-size: 0.8em;
}

.texto {
  color: black;
}

.en-lista {
  display: list-item;
}

ion-list {
  background-color: rgb(202, 207, 205);
}