.mensaje {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  margin: 0.25em 0.25em 0.25em 0.25em;
  width: 75%;
  box-shadow: 1px 1px 1px rgb(112, 112, 112);
  padding: 0.25em;
  background-color: white;
}

.izquierda {
  float: left;
}

.derecha {
  float: right;
}

.emisor {
  color: gray;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.texto {
  color: black;
  margin-bottom: 0.5em;
}

.time {
  width: 100%;
  text-align: right;
  font-size: 0.6em;
  color: gray;
}

.en-lista {
  display: list-item;
  width: 100%;
}

ion-list {
  background-color: rgb(202, 207, 205);
}